<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Saga</title>
  <meta name="description" content="Saga - Version Control for All Your Files">
  <meta name="author" content="Saga">
  <link rel='icon' href='logo.png' type='image/x-icon' />

  <link rel="stylesheet" href="css/aboutpage/about.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/button.css">
  <link rel="stylesheet" href="css/colors.css">
  <link rel="stylesheet" href="css/font.css">  
</head>

<body class = "wrapper">
    <header class = "header">
        <div class="navbar standard-font dark-font">
            <a href="/" class="left-navbar">
                <img src="/graphics/saga-website-logo.png" width="100"></img>
                <p class = logo-text>saga</p>
            </a>
            <div class="right-navbar">
                <a class = "navbar-link standard-font" href= "/about"> about</a>
                <a class = "navbar-link standard-font" href="/contact">contact</a>
                <a class = "navbar-link standard-font" href="/login-page">login</a>
            </div> 
        </div> 
    </header>

    <div class = "page-content">
        <div class = "card1">
            <p class = "title-text bold-font dark-font ">
                we built saga to help <br> 
                us collaborate
            </p>
            <p class = "subtext standard-font dark-font">
                We’re three students at the University of Pennsylvania who’ve <br>
                been friends and collaborators for 7 years. We built saga for <br>
                ourselves - to help us build projects that matter to us. 
            </p>
        </div>
        <img class = "scroll-down" onclick = "explainerCardScrollDown()" src = "/graphics/dark-down-arrow.png"></img>
    </div>
</body>


</html>