<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Saga</title>
  <meta name="description" content="Saga">
  <meta name="author" content="Saga">

  <link rel="stylesheet" href="css/styles.css">

</head>

<body>
    
    <header>
        <div class="header">
            <a href="/landing" class="logo">saga</a>
            <div class="header-right">
                <a href="#home">alpha</a>
                <a href="#contact">contact</a>
            </div>
        </div> 
    </header>

    <div class="content">
        <div class="copy">
            <p class="copy-header"> 
                Modern version control <br>
                for all of your files
            </p>
            <p class="copy-content">
                Distributed branching and merging with <br>
                the Saga version control system
            </p>
        </div>
        <div class="email-form-box1">
                <div class="email-form-box2">
                        <div id="email_form"></div>
                </div>
        </div>
    </div>

    
    <div class="email-form-container">
        
    </div>

    <!-- Load react scripts. -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <script src="landing_page.js"></script>

</body>
</html>