<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Saga</title>
  <meta name="description" content="Saga - Version Control for All Your Files">
  <meta name="author" content="Saga">
  <link rel='icon' href='logo.png' type='image/x-icon' />

  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/body.css">
  <link rel="stylesheet" href="css/landing.css">

  
</head>

<body class = "body">
    <header>
        <div class="header">
            <div class="header-left">
                <a href="/" >
                    <img class = "logo" src="saga-logo.png" width = 100 ></img>
                    <div class = "saga-name"> saga </div>
                </a>
            </div>
            <div class="header-right">
                <a class = "team" href= "/team"> team</a>
                <a class = "contact" href="/contact">contact</a>
                <a class = "login" href="/login">login</a>
            </div>
        </div> 
    </header>

    <div class="center-tile">
            <p class="center-text"> 
                    Version Control <br>
                    for all your files
            </p>
        <button class = "signup-button"> signup for alpha</button>
    </div>

</body>
</html>