<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>


<script>

    function createRepository() {
        
      var repositoryName = document.getElementById('createRepository-repositoryName').value

      $.ajax({
        type: "POST",
        url: "/createNewRepository",
        data: {"repositoryName" : repositoryName }, 
        success: function(data)
        {
          if (data.success) {
            alert("Successfully Created Account")
          } else {
            alert("Account Already Exists")
          }
        }
      });
    }

    function getRepository (repositoryName, path) {
      $.ajax({
        type: "POST",
        url: "/getPathInRepository",
        data: {"repositoryName" : repositoryName, "path" : path}, 
        success: function(data)
        {
          if (data.success) {

            var repositoryName = data.repositoryName
            var isFile = data.file
            var repositoryOwner = data.owner
            var directoryContents = data.directoryContents
            var fileContents = data.fileContents
            var pathInsideRepository = data.path

            setTextHeaders(repositoryName, pathInsideRepository, repositoryOwner)

            if (isFile) {
              // Handle if File
              $('#repositoryDisplay').append(fileContents);
            } else {
              // Handle if Directory 
              for (var i = 0; i < directoryContents.length; i++) {
                createContentButton(pathInsideRepository, directoryContents[i], repositoryName)
              }  
            }
          }
        }
      });
    }

    function getAllRepositories() {
    
      $.ajax({
           type: "GET",
           url: "/getAllRepositories",
           data: {}, 
           success: function(data)
           {
              // clear display
              $('#repositoryDisplay').html("");
              $('#repositoryList').html("");

              $('#repositoryList').append('<h1>All Your Repositories</h1>')

              repositories = data.repositories
              for (var i = 0; i < repositories.length; i++) {
                createRepositoryButton(repositories[i])
            }
          }
      });
    }

    function logout() {
      $.ajax({
        type: "GET",
        url: "/logout",
        success: function(data) { 
          if (data.success) {
            location.href = "http://localhost:3000/"
          } else {
            alert("Warning: Unsuccessful Logout")
          }
        }
      });
    }

    function createRepositoryButton (repositoryName) {
      var repoButton = document.createElement('BUTTON')
      repoButton.innerHTML  = repositoryName
      repoButton.setAttribute("id", repositoryName)
      repoButton.addEventListener("click", function() {
        getRepository(repositoryName, "")
      });
      $('#repositoryList').append(repoButton)
    }
    

    function createContentButton (pathInsideRepository, content, repositoryName) {
      var pathObj = pathInsideRepository + "/" + content
      var repositoryPathButton = document.createElement('BUTTON')
      repositoryPathButton.innerHTML  = pathObj
      repositoryPathButton.setAttribute("id", pathObj)
      repositoryPathButton.addEventListener("click", function() {
            getRepository(repositoryName, pathObj)
      });
      $('#repositoryDisplay').append(repositoryPathButton)
      $('#repositoryDisplay').append('<p>');
    }
    
    function setTextHeaders(repositoryName, pathInsideRepository, repositoryOwner) {
      // clear display
      $('#repositoryDisplay').html("");
      $('#repositoryList').html("");

      var repositoryNameLabel = document.createElement("Label");
      repositoryNameLabel.innerHTML = "Repository Location: " + repositoryName + pathInsideRepository;
      $('#repositoryDisplay').append(repositoryNameLabel);

      $('#repositoryDisplay').append('<p>');
      $('#repositoryDisplay').append('<p>');

      var repositoryOwnerLabel = document.createElement("Label");
      repositoryOwnerLabel.innerHTML = "Repository Owner: " + repositoryOwner;
      $('#repositoryDisplay').append(repositoryOwnerLabel);

      $('#repositoryDisplay').append('<p>');
      $('#repositoryDisplay').append('<p>');

      $('#repositoryDisplay').append('<h3> Contents: </h3>');
    }

</script>

<form onSubmit="createRepository(); return false" id = "createRepository">
    <div class="container">
      <h1>Create a new Repository with this Form</h1>
      <hr>
  
      <label for="repositoryName"><b>Repository Name</b></label>
      <input type="text" placeholder="Enter Repository Name" name="repositoryName" id = "createRepository-repositoryName" required>

      <input type="submit" value="Submit">
  
    </div>
  </form>

  <form onSubmit="getAllRepositories(); return false" id = "logout">
    <div class="container">
      <h1>Get All Repositories</h1>
      <p>Use this button to find all of your repositories</p>
      <hr>
      <input type="submit" value="Find">
  
    </div>
  </form>

  <div id = repositoryList></div>

  <div id = repositoryDisplay></div>

  <form onSubmit=logout(); id = "logout">
    <div class="container">
      <h1>Logout</h1>
      <p>Please press this button to logout.</p>
      <hr>
      <input type="submit" value="Logout">
  
    </div>
  </form>
