<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <meta charset="utf-8">
    <title>Saga</title>
    <meta name="description" content="Saga - Version Control for All Your Files">
    <meta name="author" content="Saga">
    <link rel='icon' href='logo.png' type='image/x-icon' />

  <link rel="stylesheet" href="css/styles.css">
  <style>
    

    input[type=text] {
      padding:5px; 
      border:2px solid #ccc; 
      -webkit-border-radius: 5px;
      border-radius: 5px;
      clear: left;
      width: 150px;
    }

    input[type=submit] {
      padding:5px; 
      border:2px solid #ccc; 
      -webkit-border-radius: 5px;
      border-radius: 5px;
      width: 100px;
      margin: 20 auto;
    }

    input[class=viewAllRepositories] {
      padding:5px; 
      border:2px solid #ccc; 
      -webkit-border-radius: 5px;
      border-radius: 5px;
      clear: left;
      width: 250px;
    }

    label {
      padding:5px; 
      display: inline-block;
    }
  </style>
  
</head>


<script>

    function getProfilePageData() {
      getProfileData()
      getAllRepositories()
    }

    function getProfileData() {
      $.ajax({
        type: "GET",
        url: "/getProfileData",
        data: {}, 
        success: function(data)
        {
          clearAllDisplaysAndInputs() 

          var username = data.username
          var numRepositories = data.numRepositories

          var usernameLabel = document.createElement("Label");
          usernameLabel.setAttribute("class", "profile-text")
          usernameLabel.innerHTML = "Username: " + username;

          var numRepositoriesLabel = document.createElement("Label");
          numRepositoriesLabel.setAttribute("class", "profile-text")
          numRepositoriesLabel.innerHTML = "Total Repositories: " + numRepositories;

          $('#profile-text').append(usernameLabel);
          $('#profile-text').append("<br>");
          $('#profile-text').append(numRepositoriesLabel);

        }
      });
    }

    function searchForRepositories() {
      var repositoryName = document.getElementById('searchForRepositories-repositoryName').value

      // Ajax call to create a new repository with given name
      $.ajax({
        type: "POST",
        url: "/searchForRepositories",
        data: {"repositoryName" : repositoryName }, 
        success: function(data)
        {
          clearAllDisplaysAndInputs()
          for (var i = 0; i < data.repositories.length; i++) {
            accountName = data.repositories[i].accountName
            repositoryName = data.repositories[i].repositoryName
            createSearchResultLabel(repositoryName, accountName, i + 1)
          }

          console.log(data.repositories)
        }
      });
    }


    function createRepository() {
        
      var repositoryName = document.getElementById('createRepository-repositoryName').value


      // Ajax call to create a new repository with given name
      $.ajax({
        type: "POST",
        url: "/createNewRepository",
        data: {"repositoryName" : repositoryName }, 
        success: function(data)
        {
          if (!data.success) {
            alert("Repository Already Exists")
          } else {
            clearAllDisplaysAndInputs()
            getAllRepositories()
          }
        }
      });
    }

    // Ajax call that returns data at a specific path within a specific repository for display
    function getRepository (repositoryName, repositoryOwner, path) {
      // if no user, then send undefined
      if (repositoryOwner == "no-user") {
        repositoryOwner = undefined
      }
      $.ajax({
        type: "POST",
        url: "/getPathInRepository",
        data: {"repositoryName" : repositoryName, "accountName" : repositoryOwner, "path" : path}, 
        success: function(data)
        {
          if (data.success) {

            var repositoryName = data.repositoryName
            var isFile = data.file
            var repositoryOwner = data.owner
            var directoryContents = data.directoryContents
            var fileContents = data.fileContents
            var pathInsideRepository = data.path

            clearAllDisplaysAndInputs()

            // display information about repository
            setTextHeaders(repositoryName, pathInsideRepository, repositoryOwner)

            if (isFile) {
              // Handle if File
              $('#repositoryDisplay').append(fileContents);
            } else {
              // Handle if Directory 
              for (var i = 0; i < directoryContents.length; i++) {
                createContentButton(pathInsideRepository, repositoryOwner, directoryContents[i], repositoryName)
              }  
            }
          }
        }
      });
    }

    // Returns the name of all the repositories of the logged in user
    function getAllRepositories() {
      $.ajax({
           type: "GET",
           url: "/getAllRepositories",
           data: {}, 
           success: function(data)
           {
              clearAllDisplaysAndInputs()


              $('#repositoryList').append('<h1>Your Repositories:</h1>')

              // iterates through repositories and creates a button for the user
              // to select which one to view the contents of
              repositories = data.repositories
              for (var i = 0; i < repositories.length; i++) {
                createRepositoryButton(repositories[i], repositories[i], "no-user", '#repositoryList')
            }
          }
      });
    }

    // Logs the user out of the platform
    function logout() {
      $.ajax({
        type: "GET",
        url: "/logout",
        success: function(data) { 
          if (data.success) {
            location.href = "/"
          } else {
            alert("Warning: Unsuccessful Logout")
          }
        }
      });
    }

    //Creates a label for results of search
    function createSearchResultLabel(repositoryName, repositoryOwner, idx) {

      var repositoryOwnerLabel = document.createElement("Label");
      repositoryOwnerLabel.innerHTML = "Repository Owner: " + repositoryOwner + "     -> ";

      $('#searchResultsDisplay').append('<h3>' + idx + ': </h3>');
      $('#searchResultsDisplay').append(repositoryOwnerLabel);
      
      createRepositoryButton(repositoryName, repositoryOwner + "/" + repositoryName, repositoryOwner, '#searchResultsDisplay')
      
      $('#searchResultsDisplay').append('<p>');
    }
    

    // Creates a button for repositoryName. 
    // When clicked it loads the contents of the repository
    // at path ""
    function createRepositoryButton (repositoryName, id, accountName, location) {
      var repoButton = document.createElement('BUTTON')
      repoButton.innerHTML  = repositoryName
      repoButton.setAttribute("id", id)
      repoButton.addEventListener("click", function() {
        getRepository(repositoryName, accountName, "")
      });
      $(location).append(repoButton)
    }
    

    // Creates a button for the contents returned by getRepository function
    // when clicked, it gets the contents in the repository at the designated path
    function createContentButton (pathInsideRepository, repositoryOwner, content, repositoryName) {
      var pathObj = pathInsideRepository + "/" + content
      var repositoryPathButton = document.createElement('BUTTON')
      repositoryPathButton.innerHTML  = pathObj
      repositoryPathButton.setAttribute("id", pathObj)
      repositoryPathButton.addEventListener("click", function() {
            getRepository(repositoryName, repositoryOwner, pathObj)
      });
      $('#repositoryDisplay').append(repositoryPathButton)
      $('#repositoryDisplay').append('<p>');
    }
    
    // set text headers to display repositoryName, path, and owner
    function setTextHeaders(repositoryName, pathInsideRepository, repositoryOwner) {
      var repositoryNameLabel = document.createElement("Label");
      repositoryNameLabel.innerHTML = "Repository Location: " + repositoryName + pathInsideRepository;
      $('#repositoryDisplay').append(repositoryNameLabel);

      $('#repositoryDisplay').append('<p>');
      $('#repositoryDisplay').append('<p>');

      var repositoryOwnerLabel = document.createElement("Label");
      repositoryOwnerLabel.innerHTML = "Repository Owner: " + repositoryOwner;
      $('#repositoryDisplay').append(repositoryOwnerLabel);

      $('#repositoryDisplay').append('<p>');
      $('#repositoryDisplay').append('<p>');

      $('#repositoryDisplay').append('<h3> Contents: </h3>');
    }

    function clearAllDisplaysAndInputs() {
      $('#repositoryDisplay').html("");
      $('#repositoryList').html("");
      $('#searchResultsDisplay').html("");
      $('#createRepository-repositoryName').val('')
      $('#searchForRepositories-repositoryName').val('')
    }

</script>

<body onload="getProfilePageData()">
    <header>
        <div class="header">
            <a href="/" class="logo">
                <div class="title">
                    <img src="logo.png" width="100"></img>
                    saga
                </div>
            </a>
            <div class="header-right">
                <a href="/alpha">alpha</a>
                <a href="#contact">contact</a>
                <a href="logout">logout</a>
                <form onSubmit="searchForRepositories(); return false" id = "searchForRepositories">
                  <input type="text" placeholder="Search For Repository" name="repositoryName" id = "searchForRepositories-repositoryName" required>
                  <input type="submit" value="Submit">
                </form>
            </div>
        </div> 
      </header>
    
      
    <div class = content>
      <div class = "column">
          <div class = "profile-information" style="text-align: center">
              <div class = profile-photo>
                  <img src="profile-photo.jpg" width="400"></img>
              </div>
              <div class = "profile-text" id = "profile-text" ></div>
              <form>
                  <input class = "viewAllRepositories" type="submit" value="View All of Your Repositories">
              </form>
          </div>
      </div>

      <div class = "column">    
          <div id = searchResultsDisplay></div>  
          <div id = repositoryList></div>  
          <div id = repositoryDisplay></div>
          <div id = userRepositories>
            <form onSubmit="createRepository(); return false" id = "createRepository">
              <div class="container">
                
                <label for="repositoryName"><b></b></label>

                <br>
                <br>
                <input type="text" placeholder="Create New Repository" name="repositoryName" id = "createRepository-repositoryName" required> 
                <input type="submit" value="Submit">
                    
              </div>
            </form>
                  
        </div>
    </div> 
  </div>    
</body>

