<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <meta charset="utf-8">
    <title>Saga</title>
    <meta name="description" content="Saga - Version Control for All Your Files">
    <meta name="author" content="Saga">
    <link rel='icon' href='logo.png' type='image/x-icon' />

  <link rel="stylesheet" href="css/signuppage/signup.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/form.css">
  <link rel="stylesheet" href="css/button.css">
  <link rel="stylesheet" href="css/colors.css">
  <link rel="stylesheet" href="css/font.css">

</head>

<script>
  // handle click for 'sign up for alpha' button
  function redirectToLogin() {
    window.location = "http://localhost:3000/login-page";
  }

  // handle twitter redirect
  function twitterRedirect() {
    window.location = "http://localhost:3000/signup";
  }

  // handle medium redirect
  function mediumRedirect() {
    window.location = "http://localhost:3000/signup";
  }

  // handle reddit redirect
  function redditRedirect() {
    window.location = "http://localhost:3000/signup";
  }

</script>
    
<body class = "wrapper">
  <header class = "header">
      <div class="navbar standard-font dark-font">
          <a href="/" class="left-navbar">
              <img src="/graphics/saga-website-logo.png" width="100"></img>
              <p class = logo-text>saga</p>
          </a>
          <div class="right-navbar">
              <a class = "navbar-link standard-font" href= "/about"> about</a>
              <a class = "navbar-link standard-font" href="/contact">contact</a>
              <a class = "navbar-link standard-font" href="/login-page">login</a>
           </div> 
      </div> 
    </header>

    <div class = "page-content">
      <div class = "left-card"> 
        <p class = "title-text bold-font dark-font">
          built for your team
        </p>
        <p class = "subtitle-text standard-font headline-font">
          saga can help you collaborate, <br>
          no matter how many projects <br>
          you’re juggling
        </p>
        <div class = "graphic">
            <img class = "joggin-image" src="/graphics/signuppage/jogging-image.png" width="392" height="350"></img>
        </div>
      </div>
      
      <div class = "right-card">
          <form class = "form">
            <p class = "form-title-reduced-margin standard-font dark-font">
              create your account
            </p>
        
            <div class = "form-input">
              <p class = "input-promt standard-font headline-font"> 
                username
              </p>
        
              <input class = "input-field standard-font headline-font" name= "username" type = "text">
            </div>

            <div class = "form-input">
              <p class = "input-promt standard-font headline-font"> 
                email
              </p>
          
              <input class = "input-field standard-font headline-font"  name = "email" type = "text">
            </div>
        
            <div class = "form-input">
              <p class = "input-promt standard-font headline-font"> 
                password
              </p>
          
              <input class = "input-field standard-font headline-font" name = "password" type = "password">
            </div>
        
            <button class = "submit-button-reduced-margins button standard-font dark-font"> submit </button>
          </form>
        
          <button class = "button" onclick="redirectToLogin()">
              login
          </button>
      </div>
    </div>

    <footer class = "footer">

      <p class = "standard-font headline-font footer-text"> thanks for checking us out :) </p>
  
      <div class = "social-media-logos">
          <img class = "twitter-logo" onclick = "twitterRedirect()" src = "/graphics/footer/twitter-logo.png" width = "50px" height = "50px"></img>
          <img class = "medium-logo" onclick = "mediumRedirect()" src = "/graphics/footer/medium-logo.png" width = "70px" height = "50px"></img>
          <img class = "reddit-logo" onclick = "redditRedirect()" src = "/graphics/footer/reddit-logo.png" width = "50px" height = "50px"></img>
      </div>
    </footer>
</body>
    
    
    
    