.wrapper {
    display: flex;
    flex-flow: column;
    background: var(--background-color);

}

/* We tell all items to be 100% width, via flex-basis */
.wrapper > * {
    flex: 1 100%;
}

.title-card {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    margin-bottom: 300px;

}

.main-text {
    font-size: 90px;
    line-height: 87px;
    margin: 0;
    padding: 0;
}

.subtitle-text {
    font-size: 50px;
    line-height: 63px;
    margin: 5;
    padding: 0;
}

.lower-title-card{
    position: absolute;
    left: calc(50% - 50px/2);
    top: 847px;
}