<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Saga</title>
  <meta name="description" content="Saga - Version Control for All Your Files">
  <meta name="author" content="Saga">
  <link rel='icon' href='/graphics/saga-website-logo.png' type='image/x-icon' />

  <link rel="stylesheet" href="css/comingSoonPage.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/font.css">
  <link rel="stylesheet" href="css/colors.css">

  
</head>

<script>
  // handle twitter redirect
  function twitterRedirect() {
    window.location = "/comingsoon";
  }

  // handle medium redirect
  function mediumRedirect() {
    window.location = "/comingsoon";
  }

  // handle reddit redirect
  function redditRedirect() {
    window.location = "/comingsoon";
  }
</script>
<body>

    <header>
        <div class="navbar standard-font dark-font">
            <a href="/" class="left-navbar">
                <img src="/graphics/saga-website-logo.png" width="100"></img>
                <p class = logo-text>saga</p>
            </a>
            <div class="right-navbar">
                <a class = "navbar-link standard-font" href= "/about"> about</a>
                <a class = "navbar-link standard-font" href="/contact">contact</a>
                <a class = "navbar-link standard-font" href="/login-page">login</a>
            </div>
        </div> 
    </header>

    <P class = "comingsoon-title standard-font bold-font dark-font"> Coming Soon </P>

    <footer class = "footer">

        <p class = "standard-font headline-font footer-text"> thanks for checking us out :) </p>
        
        <div class = "social-media-logos">
            <img class = "twitter-logo" onclick = "twitterRedirect()" src = "/graphics/footer/twitter-logo.png" width = "50px" height = "50px"></img>
            <img class = "medium-logo" onclick = "mediumRedirect()" src = "/graphics/footer/medium-logo.png" width = "70px" height = "50px"></img>
            <img class = "reddit-logo" onclick = "redditRedirect()" src = "/graphics/footer/reddit-logo.png" width = "50px" height = "50px"></img>
        </div>
    </footer>

</body>



</html>