<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <title>Saga</title>
  <meta name="description" content="Saga - Version Control for All Your Files">
  <meta name="author" content="Saga">
  <link rel='icon' href='logo.png' type='image/x-icon' />

  <link rel="stylesheet" href="css/landingPages/contactPage/contact.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/form.css">
  <link rel="stylesheet" href="css/button.css">
  <link rel="stylesheet" href="css/colors.css">
  <link rel="stylesheet" href="css/font.css">  
</head>

<script> 

  // handle twitter redirect
  function twitterRedirect() {
    window.location = "/comingsoon";
  }

  // handle medium redirect
  function mediumRedirect() {
    window.location = "/comingsoon";
  }

  // handle reddit redirect
  function redditRedirect() {
    window.location = "/comingsoon";
  }
  
</script>

<body class = "wrapper">
  <header class = "header">
      <div class="navbar standard-font dark-font">
          <a href="/" class="left-navbar">
              <img src="/graphics/saga-website-logo.png" width="100"></img>
              <p class = logo-text>saga</p>
          </a>
            <div class="right-navbar">
              <a class = "navbar-link standard-font" href= "/about"> about</a>
              <a class = "navbar-link standard-font" href="/contact">contact</a>
              <a class = "navbar-link standard-font" href="/login-page">login</a>
            </div> 
      </div> 
  </header>

  <div class = "page-content">
      <div class = "left-card"> 
        <p class = "title-text standard-font bold-font dark-font">
          honesty is the <br>
          best policy!
        </p>
        <div class = "graphic">
            <img class = "jogging-image" src="/graphics/contactpage/construction-image.png" width="600" height="437"></img>
        </div>
      </div>
      
      <div class = "right-card">
          <form action = '/submit-feedback' method = "POST" class = "form">
            <p class = "form-title-reduced-margin standard-font dark-font ">
              feedback
            </p>

            <div class = "form-input">
              <p class = "input-promt standard-font headline-font"> 
                email
              </p>
          
              <input class = "input-field standard-font headline-font" type = "text" name = "email" required>
            </div>
        
            <div class = "form-input">
              <p class = "input-promt standard-font headline-font"> 
                what is this about?
              </p>

              <select class = "option-selector standard-font headline-font" name = "relevance">
                <option selected value= "Bug"> A Bug</option>
                <option value= "Feature">A Feature Request</option>
                <option value= "Other">Other</option>
             </select>
          
            </div>

            <div class = "form-input">
              <p class = "input-promt standard-font headline-font"> 
                what should we know?
              </p>
              <textarea class = "feedback-field standard-font headline-font" name = "response" type = "text" rows="10" cols="30"></textarea>
            </div>
        
            <button class = "submit-button-reduced-margins button standard-font dark-font"> submit </button>
          </form>
      </div>
  </div>

  <footer class = "footer">

      <p class = "standard-font headline-font footer-text"> thanks for checking us out :) </p>
  
      <div class = "social-media-logos">
          <img class = "twitter-logo" onclick = "twitterRedirect()" src = "/graphics/footer/twitter-logo.png" width = "50px" height = "50px"></img>
          <img class = "medium-logo" onclick = "mediumRedirect()" src = "/graphics/footer/medium-logo.png" width = "70px" height = "50px"></img>
          <img class = "reddit-logo" onclick = "redditRedirect()" src = "/graphics/footer/reddit-logo.png" width = "50px" height = "50px"></img>
      </div>
    </footer>

</body>
</html>