<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Saga</title>
  <meta name="description" content="Saga - Version Control for All Your Files">
  <meta name="author" content="Saga">
  <link rel='icon' href='/graphics/saga-website-logo.png' type='image/x-icon' />

  <link rel="stylesheet" href="css/landingPages/homePage/titleCard.css">
  <link rel="stylesheet" href="css/landingPages/homePage/explainerCard.css">
  <link rel="stylesheet" href="css/landingPages/homePage/differentiatorsCard.css">
  <link rel="stylesheet" href="css/landingPages/header.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/font.css">
  <link rel="stylesheet" href="css/colors.css">
  <link rel="stylesheet" href="css/button.css">
  <link rel="stylesheet" href="css/reset.css">
  
</head>

<script>

    // handle click for 'sign up for alpha' button
    function redirectToAlpha() {
        alert("TODO: add typeform");
    }

    // handle click on scroll down button on title card
    function titleCardScrollDown() {
        document.getElementById('explainer-card').scrollIntoView({ behavior: 'smooth', block: 'start' })
    }

    // handle click on scroll down button on explainer card
    function explainerCardScrollDown() {
        document.getElementById('reason1').scrollIntoView({ behavior: 'smooth', block: 'start' })
    }

    // handle twitter redirect
    function twitterRedirect() {
        window.location = "/comingsoon";
    }

    // handle medium redirect
    function mediumRedirect() {
        window.location = "/comingsoon";
    }

    // handle reddit redirect
    function redditRedirect() {
        window.location = "/comingsoon";
    }

</script>

<body class="wrapper">
    <header id = "header">
        <div class="header standard-font dark-font">
            <a href="/" class="left-header">
                <img class = "logo" src="/graphics/saga-website-logo.png" width="100"></img>
                <p class=logo-text>saga</p>
            </a>
            <div class="right-header">
                <a class="header-link standard-font" href= "/about"> about</a>
                <a class="header-link standard-font" href="/contact">contact</a>
                <a class="header-link standard-font" href="/login-page">pre-alpha</a>
            </div>
        </div> 
    </header>

    <div class="title-card">
        <div class="upper-title-card">

            <p class = "subtitle-text standard-font warning-font">
                Saga is in pre-alpha! <br>
                User accounts will be deleted periodically.
            </p>

            <p class="title-text standard-font bold-font dark-font">
                modern version control <br>
                for all of your projects
            </p>
            <p class="subtitle-text standard-font dark-font">
                saga helps teams collaboratively <br>
                edit and manage their files
            </p> 
                    
            <button class="button" onclick="redirectToAlpha()">
                fill out the interest form
            </button>
        </div>
        <div class="lower-title-card" onclick ="titleCardScrollDown()">
            <img src = "/graphics/dark-down-arrow.png" width = "50px"></img>
        </div>
        
    </div>

    <div id="test_react"></div>

    <div class="explainer-card" id = "explainer-card">
        <p class="card-title standard-font white-font">
            manage any project with <br>
            saga version control
        </p>

        <div class="explanation">

            <div class="col1">
                <div class="explanation-text standard-font white-font">
                    <p>
                        team members <br>
                        manage their files  <br> 
                        using saga
                    </p>
                    <img class="excel-image" src = "/graphics/landingpage/Excel_1.png"></img>
                </div>
            </div>

            <div class="col2">
                <img class="excel-arrows-image" src = "/graphics/landingpage/first-excel-arrows.png"></img>
            </div>

            <div class="col3">
                <div class="explanation-text standard-font white-font">
                    <img class="excel-image" src = "/graphics/landingpage/Excel_2a.png"></img>
                    <p>
                        saga allows each <br>
                        user to edit their <br> 
                        own version of a file
                    </p>
                    <img class="excel-image" src = "/graphics/landingpage/Excel_2b.png"></img>
                </div>
            </div>

            <div class="col4">
                    <img class="excel-arrows-image" src = "/graphics/landingpage/second-excel-arrows.png"></img>
            </div>


            <div class="col5">
                <div class="explanation-text standard-font white-font">
                    <p>
                        and merge their  <br>
                        changes together <br>
                        when ready
                    </p>

                    <img class="excel-image" src = "/graphics/landingpage/Excel_3.png"></img>
                </div>

            </div>

        </div>
            <img class="explainer-card-scroll-down" onclick = "explainerCardScrollDown()" src = "/graphics/landingpage/white-down-arrow.png"></img>
    </div>

    <div class="differentiatiorsCard" > 
        <div class="reason" id = "reason1">
            <div class="content">
                <div class="text-content">
                    <div class="text-column">
                        <div class="reason-title bold-font dark-font">
                            designed for all <br>
                            your files
                        </div> 
            
                        <div class="subtext-with-bar">
                            <img class="divider-bar-small" src = "/graphics/landingpage/divider-line-small.png"></img>
            
                            <div class="subtext standard-font headline-font"> 
                                collaboratively edit source code, <br>
                                design, and office files
                            </div>
                        </div>

                        <div class="subtext-with-bar subtext-bottom-margin">
                            <img class="divider-bar-small" src = "/graphics/landingpage/divider-line-small.png"></img>
                
                            <div class="subtext standard-font headline-font"> 
                                easily add new file formats to the <br>
                                saga version control system
                            </div>
                        </div>
                    </div>

                </div>
                <div class="graphic-content">
                    <img src = "/graphics/landingpage/files.png" width = "400px" height = "413px"></img>
                </div> 

            </div>

            <div class="differentiators-link-div standard-font headline-font">
                see the <a class="differentiators-link" href= "/comingsoon"> supported file formats</a>
            </div>
        </div>

        <div class="reason">
            <div class="content">
                <div class="graphic-content">
                    <img src = "/graphics/landingpage/workflow-image.png" width = "698px" height = "349px"></img>
                </div> 
                <div class="text-content">
                    <div class="text-column">
                        <div class="reason-title standard-font bold-font dark-font">
                            support for any <br>
                            workflow
                        </div> 
                
                        <div class="subtext-with-bar">

                            <img class="divider-bar-small" src = "/graphics/landingpage/divider-line-small.png"></img>
                
                            <div class="subtext standard-font headline-font"> 
                                branching and merging lets you <br>
                                design your own worflow
                            </div>
                        </div>
    
                        <div class="subtext-with-bar subtext-bottom-margin">
                            <img class="divider-bar-small" src = "/graphics/landingpage/divider-line-small.png"></img>
                    
                            <div class="subtext standard-font headline-font"> 
                                owning your files locally means <br>
                                you are not forced onto the cloud
                            </div>
                        </div>
                    </div>
    
                </div>
    
            </div>
    
            <div class="differentiators-link-div standard-font headline-font">
                understand a <a class="differentiators-link" href= "/comingsoon"> saga workflow </a>
            </div>
        </div>

        <div class="reason">
            <div class="content">
                <div class="text-content">
                    <div class="text-column">
                        <div class="reason-title standard-font bold-font dark-font">
                            built for every <br>
                            experiment
                        </div> 
                
                        <div class="subtext-with-bar">
                            <img class="divider-bar-small" src = "/graphics/landingpage/divider-line-small.png"></img>
                
                            <div class="subtext standard-font headline-font"> 
                                experiment in your own workspace <br>
                                before sharing with your team
                            </div>
                        </div>
    
                        <div class="subtext-with-bar subtext-bottom-margin">
                            <img class="divider-bar-large" src = "/graphics/landingpage/divider-line-small.png"></img>
                    
                            <div class="subtext standard-font headline-font"> 
                                maintain a master copy of your <br>
                                files so your teamate's failed <br>
                                experiments don’t ruin yours
                            </div>
                        </div>
                    </div>
    
                </div>
                <div class="graphic-content">
                    <img src = "/graphics/landingpage/experiment-image.png" width = "611px" height = "473px"></img>
                </div> 
    
            </div>
    
            <div class="differentiators-link-div standard-font headline-font">
                start <a class="differentiators-link" href= "/comingsoon"> experimenting with saga</a>
            </div>
        </div>

    </div>

    <footer class="footer">

        <p class="standard-font headline-font footer-text"> thanks for checking us out :) </p>

        <div class="social-media-logos">
            <img class="twitter-logo" onclick = "twitterRedirect()" src = "/graphics/footer/twitter-logo.png" width = "50px" height = "50px"></img>
            <img class="medium-logo" onclick = "mediumRedirect()" src = "/graphics/footer/medium-logo.png" width = "70px" height = "50px"></img>
            <img class="reddit-logo" onclick = "redditRedirect()" src = "/graphics/footer/reddit-logo.png" width = "50px" height = "50px"></img>
        </div>
    </footer>

</body>

<!-- Load React. -->
<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<!-- Load our React component. -->
<script src="like_button.js"></script>
</html>

