<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <meta charset="utf-8">
    <title>Saga</title>
    <meta name="description" content="Saga - Version Control for All Your Files">
    <meta name="author" content="Saga">
    <link rel='icon' href='/graphics/saga-website-logo.png' type='image/x-icon' />

  <link rel="stylesheet" href="css/landingPages/loginPage/login.css">
  <link rel="stylesheet" href="css/form.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/colors.css">
  <link rel="stylesheet" href="css/font.css">
  <link rel="stylesheet" href="css/button.css">


</head>

<script>

  // handle click for 'sign up for alpha' button
  function redirectToAlpha() {
    window.location = "/signup";
  }

  // handle twitter redirect
  function twitterRedirect() {
    window.location = "/comingsoon";
  }

  // handle medium redirect
  function mediumRedirect() {
    window.location = "/comingsoon";
  }

  // handle reddit redirect
  function redditRedirect() {
    window.location = "/comingsoon";
  }

</script>

<body class = "wrapper">
    <header class = "header">
      <div class="navbar standard-font dark-font">
          <a href="/" class="left-navbar">
              <img src="/graphics/saga-website-logo.png" width="100"></img>
              <p class = logo-text>saga</p>
          </a>
          <div class="right-navbar">
              <a class = "navbar-link standard-font" href= "/about"> about</a>
              <a class = "navbar-link standard-font" href="/contact">contact</a>
              <a class = "navbar-link standard-font" href="/login-page">login</a>
          </div>
      </div> 
    </header>

  <div class = "page-content">
    <form action="/login" method="POST" class = "form">
      <p class = "form-title standard-font dark-font">
        user login
      </p>

      <div class = "form-input">
        <p name = "user" class = "input-promt standard-font headline-font"> 
          username or email
        </p>

        <input class = "input-field standard-font headline-font" type = "text" name = "username" required>
      </div>

      <div class = "form-input">
        <p name = "password" class = "input-promt standard-font headline-font" > 
          password
        </p>
  
        <input class = "input-field standard-font headline-font" type = "password" name = "password" required>
      </div>

      <button class = "submit-button button standard-font dark-font"> submit </button>
    </form>

    <button class = "button" onclick="redirectToAlpha()">
        signup for the alpha
    </button>
    
  </div>

  <footer class = "footer">

      <p class = "standard-font headline-font footer-text"> thanks for checking us out :) </p>

      <div class = "social-media-logos">
          <img class = "twitter-logo" onclick = "twitterRedirect()" src = "/graphics/footer/twitter-logo.png" width = "50px" height = "50px"></img>
          <img class = "medium-logo" onclick = "mediumRedirect()" src = "/graphics/footer/medium-logo.png" width = "70px" height = "50px"></img>
          <img class = "reddit-logo" onclick = "redditRedirect()" src = "/graphics/footer/reddit-logo.png" width = "50px" height = "50px"></img>
      </div>
    </footer>
</body>
