<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


  <title>Saga</title>
  <meta name="description" content="Saga - Version Control for All Your Files">
  <meta name="author" content="Saga">
  <link rel='icon' href='/graphics/saga-website-logo.png' type='image/x-icon' />

  <link rel="stylesheet" href="css/userPages/userProjects.css">
  <link rel="stylesheet" href="css/userPages/header.css">
  <link rel="stylesheet" href="css/font.css">
  <link rel="stylesheet" href="css/colors.css">



  
</head>


<script>
  window.onload = function() {

    $.get("/userprojects", function(data){
      username = data.username
      projects = data.projects

      var i = 0;
      for (i; i < projects.length; i++) {
        name = projects[i]
        createProjectRow(name)
      }
    });
  }

  function createProjectRow(name) {
    var outerDiv = document.createElement('div');
    outerDiv.className = "row"
    var leftDiv = document.createElement('div');
    leftDiv.className = "left-side"

    var projectName = document.createElement('h1');
    projectName.className = "project-name dark-font standard-font"
    projectName.innerHTML = name

    leftDiv.appendChild(projectName)
    outerDiv.appendChild(leftDiv)

    document.getElementById('page-content').appendChild(outerDiv)

  }

  function test() {
    console.log("CALLING TEST");
    $.post("/addcollaborator",
      {
        project: "saga",
        collaborator: "1234"
      },
      function(data, status) {
        alert("Added collaborator")
      }
    ).fail(function() { 
      alert("Failed to add collaborator");
    })
  }

  test()
</script>

<body class = "wrapper">
  <header class = "header">
    <div class="header standard-font dark-font">
        <a href="/" class="left-header">
            <img src="/graphics/saga-website-logo.png" width="100"></img>
            <p class = logo-text>saga</p>
        </a>
        <div class="right-header">
            <form> 
              <input class = "searchbar standard-font dark-font" placeholder="search"> </input>
              <input type="submit" style="display: none" />
            </form>
            <img class = "graphics" src="/graphics/userPages/header/plus-icon.png" width="40" height = "40"></img>
            <img class = "graphics" src="/graphics/userPages/header/settings-icon.png" width="40" height = "40"></img>
        </div> 
    </div> 
  </header>

  <div class = "page-content" id = "page-content">
    <div class = "table-header">
        <h1 class = "headline-font standard-font"> project </h1>

        <h1 class = "headline-font standard-font"> project information</h1>
    </div>
    <div class = "row">
      <div class = "left-side"> 
            <h1 class = "project-name dark-font standard-font"> Project Name </h1>
            <img class = "private-public-icon" src="/graphics/userPages/private-logo.png" width="40" height = "40"></img>
      </div>
  
      <div class = "right-side"> 
        <h1 class = "headline-font standard-font"> project owner: @aarondr77</h1>
      </div>
    </div>

    <div class = "row">
      <div class = "left-side"> 
        <h1 class = "project-name dark-font standard-font"> Project Name </h1>
        <img class = "private-public-icon" src="/graphics/userPages/public-logo.png" width="40" height = "40"></img>
      </div>
    
      <div class = "right-side"> 
        <h1 class = "headline-font standard-font"> project owner: @narush</h1>
      </div>
    </div>

  </div>
</body>