<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Saga</title>
  <meta name="description" content="Saga - Version Control for All Your Files">
  <meta name="author" content="Saga">
  <link rel='icon' href='/graphics/saga-website-logo.png' type='image/x-icon' />

  <link rel="stylesheet" href="css/projectspage.css">
  
</head>

<body class = "wrapper">
  <header class = "header">
    <div class="header standard-font dark-font">
        <a href="/" class="left-header">
            <img src="/graphics/saga-website-logo.png" width="100"></img>
            <p class = logo-text>saga</p>
        </a>
        <div class="right-header">
            <a class = "header-link standard-font" href= "/about"> about</a>
            <a class = "header-link standard-font" href="/contact">contact</a>
            <a class = "header-link standard-font" href="/login-page">login</a>
        </div> 
    </div> 
  </header>
</body>