:root {
    --background-color-landing: #FFFCF5;
    --background-color-user: #FFFFFF;
    --headline-color: #8E8D8A;
    --light-grey-color: #C4C4C4;
    --orange-color:  #DB8578;
    --green-color: #A9CAB9;
    --dark-color: #242B36;
}