
.standard-font {
    font-family: Circular Std;
    font-style: normal;
    font-weight: normal;
}

.light-font {
    font-weight: 100;
}

.bold-font {
    font-family: Circular Std;
    font-style: bold;
    font-weight: bold;
}

.headline-font {
    color: var(--headline-color);
}

.dark-font {
    color: var(--dark-color);
}

.green-font {
    color: var(--green-color);
}

.white-font {
    color: #FFFFFF;
}

.title-text {
    font-size: 75px;
    line-height: 85px;
    margin-top: 5vh;
    margin-bottom: 1.5vh;
}

.subtitle-text {
    font-size: 35px;
    line-height: 40px;
}
