
/* large screens */
.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    color: var(--background-color-landing);

    margin-top: 1vh;

    background: var(--background-color-landing)
  }
  
  .left-header {
      display: flex;
      flex-flow: row wrap;
      flex-grow: 10;
      /* This aligns items to the end line on main-axis */
      justify-content: flex-start;
      align-items: center;
  }
  
  .right-header {
      display: flex;
      flex-flow: row wrap;
      flex-grow: 1;
      /* This aligns items to the end line on main-axis */
      justify-content: flex-end;
  
      font-size: 30px;
      line-height: 38px;
  }
  
  .header-link {
      flex-grow: 1;
      align-self: center
  }
  
  /* Small screens */
  @media all and (max-width: 500px) {
      .header {
        /* On small screens, we are no longer using row direction but column */
        flex-flow: column;
      }
  
      .right-header {
          display: flex;
          flex-flow: column;
      }
  }
  
  .logo-text {
      font-size: 50px;
      line-height: 63px;
      margin: 0px;
  }

  
  a:link, a:visited{
      text-decoration: none; 
      color: var(--dark-color)
  }

  .header-link:hover {
    transition: .10s ease;
    color: var(--orange-color)
  }
