.explainer-card {
    display: flex;
    flex-flow: column wrap;
    /* This aligns items to the end line on main-axis */
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    background: var(--dark-color)
}

.card-title {
    font-size: 60px;
    line-height: 50px;
    margin-bottom: 100px;
}

.explanation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.col1, .col5 {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    flex-grow: 1;
}

.col2, .col4 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex-basis: 0
}


.excel-graphics {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.explanation-text {
    font-size: 30px;
    line-height: 38px;
    text-align: center;
}

.excel-image {
    width: 150px;
    height: 125px;
}

.excel-arrows-image {
    width: 175px;
    height: 200px;
}


.explainer-card-scroll-down {
    margin-top: 145px;
    left: calc(50% - 50px/2);
    width: 50px;
}

