.wrapper {
    display: flex;
    flex-flow: column;
    background: var(--background-color-landing);

}

/* We tell all items to be 100% width, via flex-basis */
.wrapper > * {
    flex: 1 100%;
}

.title-card {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 10px;
}

.lower-title-card {
    margin-top: 20vh;
}