.center-tile {
    position: fixed;
    width: 846px;
    height: 471px;
    left: 537px;
    top: 264px;
}

.center-tile .center-text {
    position: fixed;
    width: 846px;
    height: 125px;
    left: 537px;
    top: 264px;

    font-family: Signika;
    font-style: normal;
    font-size: 100px;
    line-height: 123px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.center-tile .signup-button {
    position: fixed;
    height: 60px;
    left: 806px;
    right: 807px;
    top: 560px;

    border: 2.5px solid #E98074;
    box-sizing: border-box;
    border-radius: 20px;

    font-family: Signika;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #E98074;
}



