/* Style the header with a grey background and some padding */
.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
  
  /* Style the header links */
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 40px;
    border-radius: 4px;
}
  
  
  /* Change the background color on mouse-over */
.header a:hover {
    text-decoration: underline;
}
  
  /* Style the active/current link
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  */
  
  /* Float the link section to the right */
.header-right {
    float: right;
}
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}

body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    background-color: rgb(250, 232, 220);
}

.content {
    display: flex;
    justify-content: space-evenly;
    padding-top: 150px;
}

.copy {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

p.copy-header {
    text-align: left;
    font-weight: bold;
    font-size: 50px;
    margin: 0px;
}

p.copy-content {
    margin-top: 10px;
    font-size: 20px;
    font-weight: lighter;
}

.EmailForm {
    background-color: white;
    border:1px solid black;
    width: 200px;
    border-radius: 5px;
    text-align: center;
    padding-top:15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom:15px;
}

.file-img {
    padding-top: 35px;
}

.title {
    font-size: 40px;
    padding-bottom: 10px;
}