.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    color: var(--background-color-user);

    margin-top: 1vh;

    background: var(--background-color-user)
  }
  
.left-header {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 10;
    /* This aligns items to the end line on main-axis */
    justify-content: flex-start;
    align-items: center;
}
  
.right-header {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    /* This aligns items to the end line on main-axis */
    justify-content: flex-end;
    align-items: center;
  
    font-size: 30px;
    line-height: 38px;
}

.header-link {
    flex-grow: 1;
    align-self: center
}

.logo-text {
    font-size: 50px;
    line-height: 63px;
    margin: 0px;
}

a:link, a:visited{
    text-decoration: none; 
    color: var(--dark-color)
}

.right-header .graphics {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.searchbar {
    width: 300px;
    height: 60px;
    border-radius: 50px;
    background: var(--light-grey-color);
    outline: none;
    font-size: 30px;
}