.wrapper {
    display: flex;
    flex-flow: column;
    background: var(--background-color-user);

}

/* We tell all items to be 100% width, via flex-basis */
.wrapper > * {
    flex: 1 100%;
}

.page-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;

}

.inner-navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 80%;
    margin-left: 15vw;
}

.left-inner-navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-grow: 1;

}

.right-inner-navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}

.card {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
}

.left-navbar {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-grow: 0;
}

.main-window {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-grow: 8;
}

.divider-line {
    border-left: 6px solid var(--dark-color);
    height: 80%;
    margin-left: 20vw;
  }

