.wrapper {
    display: flex;
    flex-flow: column;
    background: var(--background-color-user);

}

/* We tell all items to be 100% width, via flex-basis */
.wrapper > * {
    flex: 1 100%;
}

.page-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    align-content: center;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center; 

    width: 100%;
}

.project {
    background-color: var(--background-color-landing);
    color: var(--dark-color);
    border: 3px solid var(--dark-color);
    border-radius: 20px;
    font-size: 30px;

    width: 60%;

    padding-top: 2vh;
    padding-bottom: 2vh;

    margin-bottom: 4vh;

}

.project:hover {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    background-color: var(--orange-color);
}

.dropdown {
    border: 2px solid #000000;
    box-sizing: border-box;
}
